/* Stiluri pentru zona de chat */
.chatbox {
    width: 350px;
    height: auto;
    padding: 10px;
    border: 2px solid #f1f1f1;
    background-color: #fff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    text-align: center;
}

/* Mesajele utilizatorului */
.user-message input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-message button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ff85a2;
    color: white;
    cursor: pointer;
}

.user-message button:hover {
    background-color: #ff5780;
}

/* Mesajele botului */
.bot-message p {
    background-color: #ff85a2;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    margin: 10px auto;
    max-width: 80%;
}

/* Răspunsuri */
#response {
    margin-top: 20px;
}
